# Project on Tartu Smart Bike data analysis
## Introduction to Data Science - LTAT.02.002

## Data exploring
**Used data:**  Confidential Tartu Smart Bike rental and locations data (June 2019 - September 2019)

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
plt.style.use("ggplot")  # Default style

In [2]:
# reading in data from csv-s
data_routes_june = pd.read_csv("..\\data_for_IDS2019_project_team_W17\\bicycle_data\\routes_201906.csv",sep=',')
data_routes_july = pd.read_csv("..\\data_for_IDS2019_project_team_W17\\bicycle_data\\routes_201907.csv",sep=',')
data_routes_august = pd.read_csv("..\\data_for_IDS2019_project_team_W17\\bicycle_data\\routes_201908.csv",sep=',')
data_routes_september = pd.read_csv("..\\data_for_IDS2019_project_team_W17\\bicycle_data\\routes_201909.csv",sep=',')

### Performing the exploration on the routes dataset from June

In [3]:
data_routes_june.dtypes

route_code            int64
cyclenumber           int64
unlockedat           object
unlockedattime       object
lockedat             object
lockedattime         object
startstationname     object
endstationname       object
rfidnumber           object
length              float64
DurationMinutes     float64
CycleType            object
costs                 int64
Membership           object
dtype: object

In [4]:
for column in data_routes_june.columns:
    print(data_routes_june[column].value_counts())
    print()

1560100206883    2
1560103709436    2
1560098082028    2
1560092928595    2
1560325697121    2
1560186500597    2
1560104282400    2
1560079811191    2
1560019239348    2
1560092040307    2
1560275782057    2
1560105841532    2
1560180777492    2
1559991888983    2
1560273041215    2
1560105323387    2
1560198431598    2
1560017348637    2
1560340586346    2
1560245671235    2
1560058276023    2
1560270771546    2
1560189102885    1
1560267703597    1
1560262561020    1
1560145037546    1
1560074676717    1
1560311929962    1
1560156638452    1
1560262016138    1
                ..
1560260667888    1
1560143223708    1
1560254328799    1
1560190980043    1
1560276572104    1
1560340794816    1
1560016398286    1
1560095305679    1
1560186673088    1
1559990069190    1
1560018120647    1
1559985487813    1
1560189571035    1
1560167948249    1
1560172406750    1
1560329435100    1
1560198430717    1
1560174247901    1
1560025781783    1
1560157867987    1
1560089716694    1
1560010684372    1
1560251469803    1
1560230107112    1
1560153175368    1
1560086874106    1
1560138913784    1
1560082685945    1
1560072597503    1
1560229290164    1
Name: route_code, Length: 61951, dtype: int64

2337     157
2167     156
2673     147
2100     146
2460     144
2448     143
2054     142
2139     140
2181     140
2331     140
2131     140
2518     139
2274     139
2171     138
2207     137
2147     137
2200     137
2451     137
2075     136
2153     136
2355     136
2470     136
2279     136
2336     136
2193     135
2290     135
2441     135
2204     134
2160     134
2085     134
        ...
2202      25
2060      25
2780      25
2620      24
2684      23
2350      22
2793      21
2609      20
2613      20
2124      20
2117      19
2233      19
2423      18
2223      17
2575      15
2515      11
2564      10
2516       9
2472       9
2161       8
2741       6
2128       5
2723       5
2394       5
2411       2
2643       1
2453       1
90417      1
90461      1
2549       1
Name: cyclenumber, Length: 686, dtype: int64

2019-06-10    17224
2019-06-09    15727
2019-06-11    11520
2019-06-08     9006
2019-06-12     8471
2019-06-03       15
2019-06-06        8
2019-06-02        2
Name: unlockedat, dtype: int64

21:50:08    8
15:57:51    8
19:36:03    7
15:02:55    7
15:58:24    7
21:13:33    7
21:37:20    7
21:17:41    7
19:04:38    7
21:52:40    7
15:04:13    7
20:31:23    7
20:38:15    7
20:28:25    7
15:08:50    7
20:44:06    6
21:16:00    6
18:19:08    6
18:38:45    6
20:14:48    6
20:07:49    6
20:31:29    6
18:29:51    6
15:27:46    6
19:16:02    6
19:34:14    6
21:04:37    6
18:14:40    6
18:35:32    6
15:37:21    6
           ..
23:58:08    1
18:58:38    1
23:01:26    1
15:42:31    1
09:55:34    1
18:24:48    1
02:44:31    1
08:17:14    1
12:20:47    1
07:04:43    1
02:33:27    1
17:10:30    1
14:30:10    1
19:32:00    1
10:04:55    1
16:38:35    1
19:33:40    1
20:37:11    1
21:27:00    1
22:32:21    1
11:41:57    1
21:50:21    1
00:15:07    1
19:34:23    1
21:32:12    1
20:44:58    1
17:50:33    1
17:04:24    1
01:16:14    1
10:49:06    1
Name: unlockedattime, Length: 38399, dtype: int64

2019-06-10    16970
2019-06-09    16167
2019-06-11    11732
2019-06-08     8562
2019-06-12     8513
2019-06-03       15
2019-06-06        8
2019-06-13        3
2019-06-02        2
2019-06-14        1
Name: lockedat, dtype: int64

18:00:00+00    19
21:00:00+00    16
11:00:00+00    10
17:00:00+00    10
20:19:35        8
16:00:00+00     8
20:22:52        7
19:39:13        7
15:47:41        7
16:42:47        7
21:44:01        7
21:12:19        7
19:46:33        7
18:56:13        7
18:06:19        7
19:33:26        7
20:51:49        7
16:21:48        7
17:57:35        7
20:16:51        7
18:06:28        6
20:39:48        6
16:47:40        6
16:44:49        6
20:13:10        6
21:26:26        6
15:19:11        6
16:21:02        6
18:39:44        6
19:21:08        6
               ..
19:20:35        1
08:30:36        1
16:07:22        1
20:36:58        1
16:13:17        1
10:03:46        1
11:09:30        1
09:45:23        1
22:32:08        1
14:48:18        1
20:30:12        1
01:44:28        1
16:30:12        1
10:47:45        1
00:58:13        1
12:55:17        1
13:06:07        1
22:25:09        1
09:29:44        1
17:08:45        1
04:04:02        1
12:05:47        1
12:31:32        1
08:36:52        1
20:55:37        1
20:57:30        1
18:47:51        1
20:00:38        1
13:27:04        1
10:49:06        1
Name: lockedattime, Length: 38430, dtype: int64

Uueturu                 3100
Eeden                   1703
Soola                   1701
Vabadussild             1619
Lõunakeskus             1567
Pirogovi plats          1535
Turusild                1380
Annelinna kiir          1372
Ihaste                  1239
Annelinna keskus        1226
Anne saun               1220
Annelinn                1167
Magistri                1164
Roosi                   1163
Raudteejaam             1162
Rahu                    1150
Veeriku                 1119
Tarmeko                 1094
Aleksandri              1028
Kaunase puiestee        1006
Ülejõe park             1006
Vahi                     965
Vanemuise park           935
Riiamäe                  931
Aparaaditehas            930
Raatuse kool             923
Tähtvere spordipark      917
ERM                      908
Karete                   901
Põhja puiestee           900
                        ...
Papli                    748
Kannikese                734
Näituse                  730
Tamme kool               706
Postimaja                699
Ränilinn                 688
Tamme puiestee           684
Kopli                    678
Viie tee rist            657
Raja                     646
Kivilinna                636
K. E. von Baeri          631
J. Hurda                 608
Annelinna gümnaasium     605
W. Ostwaldi              603
Kvissentali              601
Aura veekeskus           594
Torni                    564
Kaare                    521
Tulbi                    497
Maarjamõisa              495
Tamme gümnaasium         480
Sepa turg                475
Tamme staadion           422
Undetermined             400
EMÜ spordihoone          397
Lossi                    363
Warehouse                100
Rüütli                    44
Töökoda                    2
Name: startstationname, Length: 71, dtype: int64

Uueturu                 3069
Soola                   1723
Eeden                   1707
Vabadussild             1630
Lõunakeskus             1605
Pirogovi plats          1560
Annelinna kiir          1390
Turusild                1372
Ihaste                  1286
Annelinna keskus        1273
Anne saun               1237
Annelinn                1181
Magistri                1169
Rahu                    1154
Roosi                   1136
Raudteejaam             1115
Veeriku                 1108
Tarmeko                 1085
Aleksandri              1041
Kaunase puiestee        1019
Ülejõe park              987
Vahi                     962
Aparaaditehas            943
Tähtvere spordipark      939
Põhja puiestee           925
Vanemuise park           924
Riiamäe                  921
Raatuse kool             912
Karete                   911
ERM                      910
                        ...
Näituse                  728
Postimaja                705
Tamme kool               697
Tamme puiestee           688
Ränilinn                 675
Kopli                    664
Viie tee rist            660
Raja                     650
Kivilinna                638
K. E. von Baeri          631
Kvissentali              611
Annelinna gümnaasium     603
J. Hurda                 600
W. Ostwaldi              600
Aura veekeskus           580
Torni                    562
Kaare                    520
Tulbi                    495
Maarjamõisa              492
Sepa turg                478
Tamme gümnaasium         469
Tamme staadion           419
EMÜ spordihoone          379
Lossi                    362
Undetermined             253
Warehouse                100
Rüütli                    55
Töökoda                   21
Delta                      2
-- Määramata --            1
Name: endstationname, Length: 73, dtype: int64

Mobile App    47163
RFID Card     14810
Name: rfidnumber, dtype: int64

0.00     2353
0.01     1558
0.02      500
0.03      308
0.04      242
0.93      227
0.90      204
0.99      186
0.81      185
0.56      180
0.82      174
0.61      174
1.02      171
0.92      168
1.70      167
0.91      166
0.97      166
0.89      166
0.05      165
0.07      165
0.83      163
0.84      162
1.22      161
0.06      161
1.59      159
0.95      159
1.90      158
0.79      158
0.98      157
0.94      157
         ...
25.40       1
19.43       1
9.82        1
15.92       1
17.76       1
10.48       1
21.82       1
17.18       1
16.24       1
22.85       1
15.24       1
15.53       1
31.69       1
13.09       1
31.87       1
20.01       1
16.63       1
29.03       1
14.84       1
20.45       1
14.54       1
30.45       1
11.53       1
24.74       1
16.33       1
18.17       1
23.25       1
19.80       1
19.34       1
13.58       1
Name: length, Length: 1646, dtype: int64

0.51      65
0.52      51
0.62      49
0.56      49
0.59      49
0.55      46
0.54      46
0.60      43
0.68      43
0.72      42
0.64      42
0.71      42
6.52      42
5.29      41
0.61      41
8.93      41
0.58      41
0.79      40
0.66      40
3.73      40
0.67      40
7.42      39
0.57      39
4.69      39
0.63      39
8.24      37
4.33      37
6.47      37
0.53      37
4.02      36
          ..
166.94     1
41.26      1
101.03     1
82.39      1
84.16      1
71.38      1
91.20      1
77.24      1
106.75     1
74.72      1
155.13     1
381.54     1
73.69      1
55.22      1
84.48      1
89.23      1
754.12     1
269.47     1
94.91      1
80.11      1
87.01      1
65.70      1
80.31      1
91.15      1
202.28     1
60.95      1
87.92      1
41.19      1
60.55      1
149.75     1
Name: DurationMinutes, Length: 7274, dtype: int64

Pedelec    46451
Bike       15522
Name: CycleType, dtype: int64

0    60435
1     1152
2      230
4       81
3       75
Name: costs, dtype: int64

3 month free membership            22101
3-Month Free Membership            17708
Free Membership (with bus card)    10450
1 month free membership             8412
1-month Free Membership             3292
1 Year Membership                      5
1 YEAR MEMBERSHIP                      4
1 mo                                   1
Name: Membership, dtype: int64

In [5]:
# Missing values in the datasets are defined as '-- Määramata --' and 'Undetermined'
def missing_values(data):
    total_rows = len(data.index)
    for column in data.columns:
        total_missing = 0
        if type(data[column].loc[0]) == str:
            total_missing += data[column].str.contains('-- Määramata --').sum()
            total_missing += data[column].str.contains('Undetermined').sum()
        if total_missing > 0:
            print ('Number of missing values in column \'' + column + '\': ' + str(total_missing) )

In [6]:
print("JUNE:")
missing_values(data_routes_june)
print("JULY:")
missing_values(data_routes_july)
print("AUGUST:")
missing_values(data_routes_august)
print("SEPTEMBER:")
missing_values(data_routes_september)

JUNE:
Number of missing values in column 'startstationname': 400
Number of missing values in column 'endstationname': 254
JULY:
Number of missing values in column 'startstationname': 306
Number of missing values in column 'endstationname': 261
AUGUST:
Number of missing values in column 'startstationname': 495
Number of missing values in column 'endstationname': 539
SEPTEMBER:
Number of missing values in column 'startstationname': 490
Number of missing values in column 'endstationname': 628

## Data cleaning
### 1. Removing rows with missing and incorrect values in columns 'startstationname' and 'endstationname'

In [7]:
def remove_missing_rows(data):
    # Missing values in the datasets are defined as '-- Määramata --' and 'Undetermined'
    indices = data[(data['startstationname'] == '-- Määramata --')].index
    data.drop(indices, inplace=True)
    indices = data[(data['startstationname'] == 'Undetermined')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == '-- Määramata --')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'Undetermined')].index
    data.drop(indices, inplace=True)
    
    # Stations 'Warehouse', 'Töökoda' and 'Delta' are not publically usable
    indices = data[(data['startstationname'] == 'Warehouse')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'Warehouse')].index
    data.drop(indices, inplace=True)
    indices = data[(data['startstationname'] == 'Delta')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'Delta')].index
    data.drop(indices, inplace=True)
    indices = data[(data['startstationname'] == 'Töökoda')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'Töökoda')].index
    data.drop(indices, inplace=True)

In [8]:
remove_missing_rows(data_routes_june)
remove_missing_rows(data_routes_july)
remove_missing_rows(data_routes_august)
remove_missing_rows(data_routes_september)

### 2. Removing rides that are less than 100 m.
These are the 'rides' where the bike is undocked and then re-docked right away.

In [9]:
def remove_less_than_100m_rides(data):
    indices = data[(data['length'] < 0.100)].index
    data.drop(indices, inplace=True)

In [10]:
remove_less_than_100m_rides(data_routes_june)
remove_less_than_100m_rides(data_routes_july)
remove_less_than_100m_rides(data_routes_august)
remove_less_than_100m_rides(data_routes_september)

### 3. Correcting spelling differences in Membership column

In [11]:
data_routes_june.Membership.value_counts()

3 month free membership            20049
3-Month Free Membership            15924
Free Membership (with bus card)     9401
1 month free membership             7555
1-month Free Membership             2965
1 Year Membership                      5
1 YEAR MEMBERSHIP                      4
1 mo                                   1
Name: Membership, dtype: int64

In [12]:
def correct_spelling(data):
    data.Membership = data.Membership.replace(to_replace ="3 month free membership", value = "3-Month Free Membership")
    data.Membership = data.Membership.replace(to_replace ="1 DAY MEMBERSHIP", value = "1 Day Membership")
    data.Membership = data.Membership.replace(to_replace ="1 YEAR MEMBERSHIP", value = "1 Year Membership")
    data.Membership = data.Membership.replace(to_replace ="1 WEEK MEMBERSHIP", value = "1 Week Membership")
    data.Membership = data.Membership.replace(to_replace ="1 month free membership", value = "1-month Free Membership")
    data.drop(data[(data.Membership == 'Free M')].index, inplace=True)
    data.drop(data[(data.Membership == '1 mo')].index, inplace=True)

In [13]:
correct_spelling(data_routes_june)
correct_spelling(data_routes_july)
correct_spelling(data_routes_august)
correct_spelling(data_routes_september)

In [14]:
data_routes_june.Membership.value_counts()

3-Month Free Membership            35973
1-month Free Membership            10520
Free Membership (with bus card)     9401
1 Year Membership                      9
Name: Membership, dtype: int64

### 4. Exporting cleaned datasets to csv

In [15]:
data_routes_june.to_csv(path_or_buf="Cleaned data\\routes_2019_06_clean.csv",index=False)
data_routes_july.to_csv(path_or_buf="Cleaned data\\routes_2019_07_clean.csv",index=False)
data_routes_august.to_csv(path_or_buf="Cleaned data\\routes_2019_08_clean.csv",index=False)
data_routes_september.to_csv(path_or_buf="Cleaned data\\routes_2019_09_clean.csv",index=False)