# Project on Tartu Smart Bike data analysis
## Introduction to Data Science - LTAT.02.002

# Table of Contents
1. [Data exploring](#exploring)  
    1.1. [Performing the exploration on the routes dataset from June](#exploring1)
2. [Data cleaning](#cleaning)  
    2.1. [Removing rows with missing and incorrect values in columns 'startstationname' and 'endstationname'](#cleaning1)  
    2.2. [Removing rides where start and end station are the same (and rides that are less than 100 m.)](#cleaning2)  
    2.3. [Correcting spelling differences in Membership column](#cleaning3)  
    2.4. [Converting 'unlockedat' and 'lockedat' from string to date](#cleaning4)  
    2.5. [Adding 'weekday' as a column to datasets](#cleaning5)  
    2.6. [Exporting cleaned datasets to csv](#cleaning6)  
    2.7. [Merging all 4 route datasets](#merging)  
3. [Data analysis](#analysis)  
    3.1. [Creating a new dataset for stations](#analysis1)  
    3.2. [Finding the most popular stations](#analysis2)  
    3.3. [Distribution of memberships throughout four months](#analysis3)  
    3.4. [The average length and duration of bike rides and number of violations within 4 months](#analysis4)  
    3.5. [Bike usage distribution throughout the day in 2-hour intervals](#analysis5)  
    3.5.1. [Workdays vs weekend](#analysis51)   
    3.5.2. [Bike usage distribution on every weekday](#analysis52)  
    3.6. [Heatmap: Length of rides based on weekday and starting station ](#heatmap)

## 1. Data exploring <a name="exploring"></a>
**Used data:**  Confidential Tartu Smart Bike rental and locations data (June 2019 - September 2019)

In [1]:
import pandas as pd
import numpy as np
# reading in data from csv-s
# csv files are in a folder named 'data_for_IDS2019_project_team_W17' 
# that's in the same folder as project root folder 'tartu-smart-bike'
data_routes_june = pd.read_csv("..\\data_for_IDS2019_project_team_W17\\bicycle_data\\routes_201906.csv",sep=',')
data_routes_july = pd.read_csv("..\\data_for_IDS2019_project_team_W17\\bicycle_data\\routes_201907.csv",sep=',')
data_routes_august = pd.read_csv("..\\data_for_IDS2019_project_team_W17\\bicycle_data\\routes_201908.csv",sep=',')
data_routes_september = pd.read_csv("..\\data_for_IDS2019_project_team_W17\\bicycle_data\\routes_201909.csv",sep=',')

datasets = [data_routes_june, data_routes_july, data_routes_august, data_routes_september]

### 1.1 Performing the exploration on the routes dataset from June <a name="exploring1"></a>

In [2]:
data_routes_june.dtypes

route_code            int64
cyclenumber           int64
unlockedat           object
unlockedattime       object
lockedat             object
lockedattime         object
startstationname     object
endstationname       object
rfidnumber           object
length              float64
DurationMinutes     float64
CycleType            object
costs                 int64
Membership           object
dtype: object

In [3]:
for column in data_routes_june.columns:
    print(data_routes_june[column].value_counts())
    print()

1560100206883    2
1560103709436    2
1560098082028    2
1560092928595    2
1560325697121    2
1560186500597    2
1560104282400    2
1560079811191    2
1560019239348    2
1560092040307    2
1560275782057    2
1560105841532    2
1560180777492    2
1559991888983    2
1560273041215    2
1560105323387    2
1560198431598    2
1560017348637    2
1560340586346    2
1560245671235    2
1560058276023    2
1560270771546    2
1560189102885    1
1560267703597    1
1560262561020    1
1560145037546    1
1560074676717    1
1560311929962    1
1560156638452    1
1560262016138    1
                ..
1560260667888    1
1560143223708    1
1560254328799    1
1560190980043    1
1560276572104    1
1560340794816    1
1560016398286    1
1560095305679    1
1560186673088    1
1559990069190    1
1560018120647    1
1559985487813    1
1560189571035    1
1560167948249    1
1560172406750    1
1560329435100    1
1560198430717    1
1560174247901    1
1560025781783    1
1560157867987    1
1560089716694    1
1560010684372    1
1560251469803    1
1560230107112    1
1560153175368    1
1560086874106    1
1560138913784    1
1560082685945    1
1560072597503    1
1560229290164    1
Name: route_code, Length: 61951, dtype: int64

2337     157
2167     156
2673     147
2100     146
2460     144
2448     143
2054     142
2139     140
2181     140
2331     140
2131     140
2518     139
2274     139
2171     138
2207     137
2147     137
2200     137
2451     137
2075     136
2153     136
2355     136
2470     136
2279     136
2336     136
2193     135
2290     135
2441     135
2204     134
2160     134
2085     134
        ...
2202      25
2060      25
2780      25
2620      24
2684      23
2350      22
2793      21
2609      20
2613      20
2124      20
2117      19
2233      19
2423      18
2223      17
2575      15
2515      11
2564      10
2516       9
2472       9
2161       8
2741       6
2128       5
2723       5
2394       5
2411       2
2643       1
2453       1
90417      1
90461      1
2549       1
Name: cyclenumber, Length: 686, dtype: int64

2019-06-10    17224
2019-06-09    15727
2019-06-11    11520
2019-06-08     9006
2019-06-12     8471
2019-06-03       15
2019-06-06        8
2019-06-02        2
Name: unlockedat, dtype: int64

15:57:51    8
21:50:08    8
21:13:33    7
20:28:25    7
20:38:15    7
15:04:13    7
19:36:03    7
19:04:38    7
15:02:55    7
21:52:40    7
20:31:23    7
15:08:50    7
21:37:20    7
21:17:41    7
15:58:24    7
13:01:18    6
19:57:07    6
16:58:25    6
18:56:07    6
20:59:46    6
13:23:14    6
20:31:29    6
19:22:53    6
20:14:48    6
20:16:08    6
18:24:22    6
21:16:00    6
17:00:45    6
19:28:40    6
18:14:25    6
           ..
15:07:06    1
05:05:19    1
19:52:24    1
12:16:27    1
00:45:18    1
08:49:50    1
18:04:26    1
17:42:46    1
11:16:02    1
11:01:55    1
06:17:57    1
00:07:08    1
01:32:23    1
19:23:13    1
16:15:46    1
13:14:35    1
17:40:14    1
20:46:41    1
22:19:16    1
02:42:53    1
23:59:19    1
11:52:30    1
23:13:03    1
18:48:11    1
22:00:24    1
21:23:13    1
14:02:46    1
00:34:45    1
17:08:28    1
06:49:30    1
Name: unlockedattime, Length: 38399, dtype: int64

2019-06-10    16970
2019-06-09    16167
2019-06-11    11732
2019-06-08     8562
2019-06-12     8513
2019-06-03       15
2019-06-06        8
2019-06-13        3
2019-06-02        2
2019-06-14        1
Name: lockedat, dtype: int64

18:00:00+00    19
21:00:00+00    16
11:00:00+00    10
17:00:00+00    10
16:00:00+00     8
20:19:35        8
15:47:41        7
16:21:48        7
18:56:13        7
20:16:51        7
21:44:01        7
20:22:52        7
19:39:13        7
19:33:26        7
18:06:19        7
16:42:47        7
21:12:19        7
20:51:49        7
19:46:33        7
17:57:35        7
21:36:02        6
17:43:24        6
17:20:59        6
18:06:28        6
20:39:48        6
20:58:03        6
15:53:28        6
22:00:00+00     6
20:26:10        6
19:08:01        6
               ..
04:30:35        1
03:05:01        1
22:24:45        1
16:48:37        1
14:57:58        1
21:06:22        1
15:29:51        1
13:06:12        1
07:43:49        1
15:10:46        1
13:17:53        1
09:03:32        1
11:04:36        1
17:35:25        1
18:38:55        1
09:21:45        1
01:01:32        1
02:50:28        1
08:22:05        1
19:27:17        1
12:58:07        1
23:14:38        1
11:38:59        1
07:56:44        1
23:10:47        1
22:25:17        1
09:03:27        1
16:45:36        1
13:46:35        1
13:57:24        1
Name: lockedattime, Length: 38430, dtype: int64

Uueturu                 3100
Eeden                   1703
Soola                   1701
Vabadussild             1619
Lõunakeskus             1567
Pirogovi plats          1535
Turusild                1380
Annelinna kiir          1372
Ihaste                  1239
Annelinna keskus        1226
Anne saun               1220
Annelinn                1167
Magistri                1164
Roosi                   1163
Raudteejaam             1162
Rahu                    1150
Veeriku                 1119
Tarmeko                 1094
Aleksandri              1028
Ülejõe park             1006
Kaunase puiestee        1006
Vahi                     965
Vanemuise park           935
Riiamäe                  931
Aparaaditehas            930
Raatuse kool             923
Tähtvere spordipark      917
ERM                      908
Karete                   901
Põhja puiestee           900
                        ...
Papli                    748
Kannikese                734
Näituse                  730
Tamme kool               706
Postimaja                699
Ränilinn                 688
Tamme puiestee           684
Kopli                    678
Viie tee rist            657
Raja                     646
Kivilinna                636
K. E. von Baeri          631
J. Hurda                 608
Annelinna gümnaasium     605
W. Ostwaldi              603
Kvissentali              601
Aura veekeskus           594
Torni                    564
Kaare                    521
Tulbi                    497
Maarjamõisa              495
Tamme gümnaasium         480
Sepa turg                475
Tamme staadion           422
Undetermined             400
EMÜ spordihoone          397
Lossi                    363
Warehouse                100
Rüütli                    44
Töökoda                    2
Name: startstationname, Length: 71, dtype: int64

Uueturu                 3069
Soola                   1723
Eeden                   1707
Vabadussild             1630
Lõunakeskus             1605
Pirogovi plats          1560
Annelinna kiir          1390
Turusild                1372
Ihaste                  1286
Annelinna keskus        1273
Anne saun               1237
Annelinn                1181
Magistri                1169
Rahu                    1154
Roosi                   1136
Raudteejaam             1115
Veeriku                 1108
Tarmeko                 1085
Aleksandri              1041
Kaunase puiestee        1019
Ülejõe park              987
Vahi                     962
Aparaaditehas            943
Tähtvere spordipark      939
Põhja puiestee           925
Vanemuise park           924
Riiamäe                  921
Raatuse kool             912
Karete                   911
ERM                      910
                        ...
Näituse                  728
Postimaja                705
Tamme kool               697
Tamme puiestee           688
Ränilinn                 675
Kopli                    664
Viie tee rist            660
Raja                     650
Kivilinna                638
K. E. von Baeri          631
Kvissentali              611
Annelinna gümnaasium     603
W. Ostwaldi              600
J. Hurda                 600
Aura veekeskus           580
Torni                    562
Kaare                    520
Tulbi                    495
Maarjamõisa              492
Sepa turg                478
Tamme gümnaasium         469
Tamme staadion           419
EMÜ spordihoone          379
Lossi                    362
Undetermined             253
Warehouse                100
Rüütli                    55
Töökoda                   21
Delta                      2
-- Määramata --            1
Name: endstationname, Length: 73, dtype: int64

Mobile App    47163
RFID Card     14810
Name: rfidnumber, dtype: int64

0.00     2353
0.01     1558
0.02      500
0.03      308
0.04      242
0.93      227
0.90      204
0.99      186
0.81      185
0.56      180
0.82      174
0.61      174
1.02      171
0.92      168
1.70      167
0.91      166
0.97      166
0.89      166
0.05      165
0.07      165
0.83      163
0.84      162
1.22      161
0.06      161
1.59      159
0.95      159
1.90      158
0.79      158
0.98      157
0.94      157
         ...
25.40       1
19.43       1
9.82        1
15.92       1
17.76       1
10.48       1
21.82       1
17.18       1
16.24       1
22.85       1
15.24       1
15.53       1
31.69       1
13.09       1
31.87       1
20.01       1
16.63       1
29.03       1
14.84       1
20.45       1
14.54       1
30.45       1
11.53       1
24.74       1
16.33       1
18.17       1
23.25       1
19.80       1
19.34       1
13.58       1
Name: length, Length: 1646, dtype: int64

0.51      65
0.52      51
0.62      49
0.56      49
0.59      49
0.55      46
0.54      46
0.60      43
0.68      43
0.72      42
0.64      42
0.71      42
6.52      42
5.29      41
0.61      41
8.93      41
0.58      41
0.79      40
0.66      40
3.73      40
0.67      40
7.42      39
0.57      39
4.69      39
0.63      39
8.24      37
4.33      37
6.47      37
0.53      37
4.02      36
          ..
166.94     1
41.26      1
101.03     1
82.39      1
84.16      1
71.38      1
91.20      1
77.24      1
106.75     1
74.72      1
155.13     1
381.54     1
73.69      1
55.22      1
84.48      1
89.23      1
754.12     1
269.47     1
94.91      1
80.11      1
87.01      1
65.70      1
80.31      1
91.15      1
202.28     1
60.95      1
87.92      1
41.19      1
60.55      1
149.75     1
Name: DurationMinutes, Length: 7274, dtype: int64

Pedelec    46451
Bike       15522
Name: CycleType, dtype: int64

0    60435
1     1152
2      230
4       81
3       75
Name: costs, dtype: int64

3 month free membership            22101
3-Month Free Membership            17708
Free Membership (with bus card)    10450
1 month free membership             8412
1-month Free Membership             3292
1 Year Membership                      5
1 YEAR MEMBERSHIP                      4
1 mo                                   1
Name: Membership, dtype: int64

In [4]:
# Missing values in the datasets are defined as '-- Määramata --' and 'Undetermined'
def missing_values(data):
    total_rows = len(data.index)
    for column in data.columns:
        total_missing = 0
        if type(data[column].loc[0]) == str:
            total_missing += data[column].str.contains('-- Määramata --').sum()
            total_missing += data[column].str.contains('Undetermined').sum()
        if total_missing > 0:
            print ('Number of missing values in column \'' + column + '\': ' + str(total_missing) )

In [5]:
for data in datasets:
    missing_values(data)
    print()

Number of missing values in column 'startstationname': 400
Number of missing values in column 'endstationname': 254

Number of missing values in column 'startstationname': 306
Number of missing values in column 'endstationname': 261

Number of missing values in column 'startstationname': 495
Number of missing values in column 'endstationname': 539

Number of missing values in column 'startstationname': 490
Number of missing values in column 'endstationname': 628

## 2. Data cleaning <a name="cleaning"></a>
### 2.1. Removing rows with missing and incorrect values in columns 'startstationname' and 'endstationname' <a name="cleaning1"></a>

In [6]:
def remove_missing_rows(data):
    # Missing values in the datasets are defined as '-- Määramata --' and 'Undetermined'
    indices = data[(data['startstationname'] == '-- Määramata --')].index
    data.drop(indices, inplace=True)
    indices = data[(data['startstationname'] == 'Undetermined')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == '-- Määramata --')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'Undetermined')].index
    data.drop(indices, inplace=True)
    
    # Stations 'Warehouse', 'Töökoda', 'SPARK Demo' and 'Delta' are not publically usable
    indices = data[(data['startstationname'] == 'Warehouse')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'Warehouse')].index
    data.drop(indices, inplace=True)
    indices = data[(data['startstationname'] == 'Delta')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'Delta')].index
    data.drop(indices, inplace=True)
    indices = data[(data['startstationname'] == 'Töökoda')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'Töökoda')].index
    data.drop(indices, inplace=True)
    indices = data[(data['startstationname'] == 'SPARK Demo')].index
    data.drop(indices, inplace=True)
    indices = data[(data['endstationname'] == 'SPARK Demo')].index
    data.drop(indices, inplace=True)
    
    # Removing all rows where there are NaN values
    data.dropna(inplace=True)

In [7]:
for data in datasets:
    remove_missing_rows(data)

### 2.2. Removing rides where start and end station are the same (and rides that are less than 100 m). <a name="cleaning2"></a>
The ones with the same start and end station are the 'rides' where the bike is undocked and then re-docked into the same dock without actually riding anywhere.   
Not sure if it's okay to remove less than 100m rides because it seems like in some rides the distance measuring was not working because start and end station are different and ride duration is like 20 minutes. Or maybe these are the ones where the bikes are reallocated, so that's why it doesn't measure any distance travelled.

In [8]:
def remove_incorrect_rides(data):
    #indices = data[(data['length'] < 0.100)].index
    #data.drop(indices, inplace=True)
    indices = data[(data['startstationname'] == data['endstationname'])].index
    data.drop(indices, inplace=True)

In [9]:
for data in datasets:
    remove_incorrect_rides(data)

### 2.3. Correcting spelling differences in Membership column <a name="cleaning3"></a>

In [10]:
data_routes_june.Membership.value_counts()

3 month free membership            17867
3-Month Free Membership            14017
Free Membership (with bus card)     8281
1 month free membership             6679
1-month Free Membership             2530
1 Year Membership                      5
1 mo                                   1
Name: Membership, dtype: int64

In [11]:
def correct_spelling(data):
    data.Membership = data.Membership.replace(to_replace ="3 month free membership", value = "3-Month Free Membership")
    data.Membership = data.Membership.replace(to_replace ="1 DAY MEMBERSHIP", value = "1 Day Membership")
    data.Membership = data.Membership.replace(to_replace ="1 YEAR MEMBERSHIP", value = "1 Year Membership")
    data.Membership = data.Membership.replace(to_replace ="1 WEEK MEMBERSHIP", value = "1 Week Membership")
    data.Membership = data.Membership.replace(to_replace ="1 month free membership", value = "1-month Free Membership")
    data.drop(data[(data.Membership == 'Free M')].index, inplace=True)
    data.drop(data[(data.Membership == '1 mo')].index, inplace=True)

In [12]:
for data in datasets:
    correct_spelling(data)

In [13]:
data_routes_june.Membership.value_counts()

3-Month Free Membership            31884
1-month Free Membership             9209
Free Membership (with bus card)     8281
1 Year Membership                      5
Name: Membership, dtype: int64

### 2.4. Converting 'unlockedat' and 'lockedat' from string to date <a name="cleaning4"></a>

In [14]:
import datetime
def string_to_date(data):
    data.unlockedat = pd.to_datetime(data.unlockedat, format="%Y-%m-%d")
    data.lockedat = pd.to_datetime(data.lockedat, format="%Y-%m-%d")

In [15]:
for data in datasets:
    string_to_date(data)

### 2.5. Adding 'weekday' as a column to datasets <a name="cleaning5"></a>
Weekday is based on unlocking date.

In [16]:
def add_weekday(data):
    data.insert(2,"weekday",data['unlockedat'].dt.day_name())

In [17]:
for data in datasets:
    add_weekday(data)

In [18]:
data_routes_june.weekday.value_counts()

Monday       13977
Sunday       12327
Tuesday       9277
Wednesday     7125
Saturday      6668
Thursday         5
Name: weekday, dtype: int64

### 2.6. Exporting cleaned datasets to csv <a name="cleaning6"></a>
Cleaned data will be outside of project root directory because the data is confidential. You must have directory named "Cleaned data" on the same level as project root folder.

In [19]:
data_routes_june.to_csv(path_or_buf="..\\Cleaned data\\routes_2019_06_clean.csv",index=False)
data_routes_july.to_csv(path_or_buf="..\\Cleaned data\\routes_2019_07_clean.csv",index=False)
data_routes_august.to_csv(path_or_buf="..\\Cleaned data\\routes_2019_08_clean.csv",index=False)
data_routes_september.to_csv(path_or_buf="..\\Cleaned data\\routes_2019_09_clean.csv",index=False)

### 2.7. Merging all 4 routes datasets <a name="merging"></a>

In [20]:
for data in datasets:
    print(data.shape)

(49379, 15)
(51917, 15)
(51106, 15)
(50268, 15)

In [21]:
routes_data = pd.concat(datasets)
routes_data.shape

(202670, 15)

## 3. Data analysis <a name="analysis"></a>

### 3.1. Creating a new dataset for stations <a name="analysis1"></a>

In [22]:
pd.set_option('display.max_rows', 500)

# number of bike unlockings per station
unlockings_per_station = routes_data.startstationname.value_counts()
print(unlockings_per_station)
print()

# number of bike lockings per station
lockings_per_station = routes_data.endstationname.value_counts()
print(lockings_per_station)

Uueturu                 11964
Soola                    7940
Eeden                    6172
Pirogovi plats           5941
Vabadussild              4735
Aleksandri               4667
Lõunakeskus              4624
Turusild                 4403
Veeriku                  4346
Annelinna keskus         4202
Anne saun                4071
Raudteejaam              4034
Rahu                     3959
Magistri                 3929
Annelinna kiir           3865
Aparaaditehas            3764
Tarmeko                  3705
Roosi                    3672
Riiamäe                  3647
Annelinn                 3632
Kaunase puiestee         3506
Kalda tee                3360
Raatuse kool             3205
Sõpruse sild             3133
Pargi                    3110
Vanemuise park           3025
Sõbra                    2969
Näituse                  2955
Papli                    2944
Kuu                      2900
Raatuse                  2896
Karete                   2882
AHHAA                    2862
Põhja puiestee           2817
Ülejõe park              2808
Kannikese                2599
Vahi                     2343
Orava                    2342
TÜ raamatukogu           2272
W. Ostwaldi              2192
Raja                     2189
Mõisavahe                2174
K. E. von Baeri          2173
ERM                      2131
Aura veekeskus           2114
Põllu                    2061
Rüütli                   2020
Kivilinna                2004
Torni                    1976
Tähtvere spordipark      1955
Ihaste                   1897
Viie tee rist            1869
J. Hurda                 1848
Ränilinn                 1754
Annelinna gümnaasium     1686
Kaare                    1658
Lossi                    1642
Tamme kool               1559
Kopli                    1553
Postimaja                1551
Tamme puiestee           1549
Maarjamõisa              1515
Sepa turg                1488
Tamme gümnaasium         1477
Tulbi                    1464
Tamme staadion           1254
EMÜ spordihoone           981
Kvissentali               736
Name: startstationname, dtype: int64

Uueturu                 11938
Soola                    8004
Eeden                    6091
Pirogovi plats           6057
Vabadussild              4746
Aleksandri               4730
Lõunakeskus              4727
Turusild                 4361
Annelinna keskus         4268
Veeriku                  4185
Anne saun                4112
Magistri                 3954
Rahu                     3951
Annelinna kiir           3913
Raudteejaam              3829
Aparaaditehas            3797
Tarmeko                  3711
Roosi                    3670
Riiamäe                  3650
Annelinn                 3604
Kaunase puiestee         3516
Kalda tee                3322
Raatuse kool             3174
Sõpruse sild             3095
Pargi                    3091
Põhja puiestee           3071
Vanemuise park           3025
Sõbra                    2983
Näituse                  2968
Kuu                      2957
Papli                    2930
Karete                   2890
AHHAA                    2882
Raatuse                  2864
Ülejõe park              2755
Kannikese                2599
Vahi                     2390
Orava                    2383
TÜ raamatukogu           2274
ERM                      2184
K. E. von Baeri          2182
Raja                     2177
Mõisavahe                2133
Põllu                    2106
Ihaste                   2068
W. Ostwaldi              2046
Kivilinna                2044
Rüütli                   2041
Tähtvere spordipark      1995
Torni                    1953
Aura veekeskus           1909
Viie tee rist            1815
J. Hurda                 1810
Ränilinn                 1740
Annelinna gümnaasium     1669
Lossi                    1651
Kaare                    1649
Postimaja                1610
Tamme kool               1555
Tamme puiestee           1540
Kopli                    1533
Maarjamõisa              1468
Sepa turg                1466
Tulbi                    1453
Tamme gümnaasium         1428
Tamme staadion           1212
EMÜ spordihoone           912
Kvissentali               854
Name: endstationname, dtype: int64

In [23]:
stations = pd.DataFrame()
stations['Name'] = unlockings_per_station.index
stations['Unlockings'] = unlockings_per_station.values
stations['Lockings'] = ""
for i in range(len(stations.Name)):
    stations['Lockings'].iloc[i] = lockings_per_station.get(stations.Name.iloc[i])
stations

C:\Users\Mikko\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

                    Name  Unlockings  Lockings
0                Uueturu       11964     11938
1                  Soola        7940      8004
2                  Eeden        6172      6091
3         Pirogovi plats        5941      6057
4            Vabadussild        4735      4746
5             Aleksandri        4667      4730
6            Lõunakeskus        4624      4727
7               Turusild        4403      4361
8                Veeriku        4346      4185
9       Annelinna keskus        4202      4268
10             Anne saun        4071      4112
11           Raudteejaam        4034      3829
12                  Rahu        3959      3951
13              Magistri        3929      3954
14        Annelinna kiir        3865      3913
15         Aparaaditehas        3764      3797
16               Tarmeko        3705      3711
17                 Roosi        3672      3670
18               Riiamäe        3647      3650
19              Annelinn        3632      3604
20      Kaunase puiestee        3506      3516
21             Kalda tee        3360      3322
22          Raatuse kool        3205      3174
23          Sõpruse sild        3133      3095
24                 Pargi        3110      3091
25        Vanemuise park        3025      3025
26                 Sõbra        2969      2983
27               Näituse        2955      2968
28                 Papli        2944      2930
29                   Kuu        2900      2957
30               Raatuse        2896      2864
31                Karete        2882      2890
32                 AHHAA        2862      2882
33        Põhja puiestee        2817      3071
34           Ülejõe park        2808      2755
35             Kannikese        2599      2599
36                  Vahi        2343      2390
37                 Orava        2342      2383
38        TÜ raamatukogu        2272      2274
39           W. Ostwaldi        2192      2046
40                  Raja        2189      2177
41             Mõisavahe        2174      2133
42       K. E. von Baeri        2173      2182
43                   ERM        2131      2184
44        Aura veekeskus        2114      1909
45                 Põllu        2061      2106
46                Rüütli        2020      2041
47             Kivilinna        2004      2044
48                 Torni        1976      1953
49   Tähtvere spordipark        1955      1995
50                Ihaste        1897      2068
51         Viie tee rist        1869      1815
52              J. Hurda        1848      1810
53              Ränilinn        1754      1740
54  Annelinna gümnaasium        1686      1669
55                 Kaare        1658      1649
56                 Lossi        1642      1651
57            Tamme kool        1559      1555
58                 Kopli        1553      1533
59             Postimaja        1551      1610
60        Tamme puiestee        1549      1540
61           Maarjamõisa        1515      1468
62             Sepa turg        1488      1466
63      Tamme gümnaasium        1477      1428
64                 Tulbi        1464      1453
65        Tamme staadion        1254      1212
66       EMÜ spordihoone         981       912
67           Kvissentali         736       854

### 3.2. Finding the most popular stations <a name="analysis2"></a>
We wanted to find bike `usage per dock` in each station, so we would have been able to find the most popular stations' not influenced by the size of the stations. However, we did not have the data about the actual sizes of the bike stations.

### 3.3. Distribution of memberships throughout four months <a name="analysis3"></a>
For a better overview we decided to divide memberships into 3 groups:
1. Free memberships
2. Paid memberships
3. With bus card

In [24]:
def new_membership_value(row):
    if row['Membership'] == "3-Month Free Membership" or row['Membership'] == "1-month Free Membership":
        return "Free memberships"
    if row['Membership'] == "Free Membership (with bus card)":
        return "With bus card"
    else:
        return "Paid memberships"

def add_column_liikmelisus(data):
    #adding the new column 'Liikmelisus'
    data['Liikmelisus'] = data.apply (lambda row: new_membership_value(row), axis=1)

In [ ]:
# Adding column 'liikmelisus' to every month's dataset
for data in datasets:
    add_column_liikmelisus(data)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline 
plt.style.use("ggplot")  # Default plot style
months = ["June", "July", "August", "September"]
for i in range(len(datasets)):
    counts = datasets[i]['Liikmelisus'].value_counts(normalize=True)
    colors = ["mediumblue", "dodgerblue", "slateblue"]
    if counts.index[0] == 'With bus card':
        colors = ["dodgerblue", "mediumblue", "slateblue"]
    plt.subplots(figsize=(30,15))
    plt.pie(counts, labels=None, colors = colors,
        autopct="%1.2f%%", textprops={"name":"sans", "family":"serif", "weight":"normal", 'color':"w", "size":"36"})
    plt.title(months[i],fontdict={'fontsize':40})
    plt.legend(bbox_to_anchor=(1, 0.65),prop={'size': 30}, labels=counts.index)
    plt.savefig('Memberships\\' + months[i]+'.pdf')
    plt.show()

### 3.4. The average length and duration of bike rides and number of violations within 4 months <a name="analysis4">
A violation occurs when the bike is unlocked for more than 5 hours straight.

In [ ]:
print("The average length of rides:", round(routes_data["length"].mean(), 3), " km")
print("The average duration of rides:", round(routes_data["DurationMinutes"].mean(), 3), "(minutes)","\n")

print("Length of the longest ride:", round(routes_data["length"].max(), 3), " km")
print("Duration of the longest lasting ride:", round(routes_data["DurationMinutes"].max(), 3), "(minutes)")

In [ ]:
print("Number of violations:", routes_data["DurationMinutes"][routes_data["DurationMinutes"] > 300].count())

### 3.5.  Bike usage distribution throughout the day in 2-hour intervals<a name="analysis5"></a>

### 3.5.1 Workdays vs Weekend <a name="analysis51"></a>

In [ ]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt

def minutesPerDay(tme):
    hours, minutes = tme.split(':')
    return (hours*60)+minutes

def checkTime(tme, tmeRange):
    return minutesPerDay(tmeRange[0]) < minutesPerDay(tme) < tmeRange[1]

def makePlot(performance, name, nr):
    objects = ('00-02', '02-04','04-06','06-08','08-10', '10-12','12-14', '14-16','16-18', '18-20','20-22','22-24')
    y_pos = np.arange(len(objects))
    color_l = ['blue', 'blue']

    plt.subplots(figsize=(10,7))
    plt.bar(y_pos, performance, align='center', alpha=0.5, color=color_l[nr])
    plt.xticks(y_pos, objects)
    plt.ylabel('Usage %')
    plt.title(name)
    plt.savefig('Bike usage\\' + name + '.pdf')
    plt.show()

weekdays = [["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"], ["Saturday", "Sunday"]]
names = ["Workdays", "Weekend"]
name_nr = 0
color_nr = 0

for e in weekdays:
    loe = loe1 = loe2 = loe3 = loe4 = loe5 = loe6 = loe7 = loe8 = loe9 = loe10 = loe11 = 0
    for i in range(22429):
        if data_routes_july.weekday.iloc[i] in e:
            vahe = data_routes_july.unlockedattime.iloc[i].split(":")
            vahe = vahe[0]+":"+vahe[1]
            if checkTime(vahe, ('00:00', '02:00')) == True:
                loe+=1
            if checkTime(vahe, ('02:00', '04:00')) == True:
                loe1+=1    
            if checkTime(vahe, ('04:00', '06:00')) == True:
                loe2+=1
            if checkTime(vahe, ('06:00', '08:00')) == True:
                loe3+=1
            if checkTime(vahe, ('08:00', '10:00')) == True:
                loe4+=1
            if checkTime(vahe, ('10:00', '12:00')) == True:
                loe5+=1
            if checkTime(vahe, ('12:00', '14:00')) == True:
                loe6+=1
            if checkTime(vahe, ('14:00', '16:00')) == True:
                loe7+=1
            if checkTime(vahe, ('16:00', '18:00')) == True:
                loe8+=1
            if checkTime(vahe, ('18:00', '20:00')) == True:
                loe9+=1
            if checkTime(vahe, ('20:00', '22:00')) == True:
                loe10+=1                
            if checkTime(vahe, ('22:00', '24:00')) == True:
                loe11+=1                
                
    for j in range(15356, 42506):
        if data_routes_august.weekday.iloc[j] == e:
            vahe = data_routes_august.unlockedattime.iloc[j].split(":")
            vahe = vahe[0]+":"+vahe[1]
            if checkTime(vahe, ('00:00', '02:00')) == True:
                loe+=1
            if checkTime(vahe, ('02:00', '04:00')) == True:
                loe1+=1    
            if checkTime(vahe, ('04:00', '06:00')) == True:
                loe2+=1
            if checkTime(vahe, ('06:00', '08:00')) == True:
                loe3+=1
            if checkTime(vahe, ('08:00', '10:00')) == True:
                loe4+=1
            if checkTime(vahe, ('10:00', '12:00')) == True:
                loe5+=1
            if checkTime(vahe, ('12:00', '14:00')) == True:
                loe6+=1
            if checkTime(vahe, ('14:00', '16:00')) == True:
                loe7+=1
            if checkTime(vahe, ('16:00', '18:00')) == True:
                loe8+=1
            if checkTime(vahe, ('18:00', '20:00')) == True:
                loe9+=1
            if checkTime(vahe, ('20:00', '22:00')) == True:
                loe10+=1                
            if checkTime(vahe, ('22:00', '24:00')) == True:
                loe11+=1    
                
    for m in range(4342,37439):
        if data_routes_september.weekday.iloc[m] == e:
            vahe = data_routes_september.unlockedattime.iloc[m].split(":")
            vahe = vahe[0]+":"+vahe[1]
            if checkTime(vahe, ('00:00', '02:00')) == True:
                loe+=1
            if checkTime(vahe, ('02:00', '04:00')) == True:
                loe1+=1    
            if checkTime(vahe, ('04:00', '06:00')) == True:
                loe2+=1
            if checkTime(vahe, ('06:00', '08:00')) == True:
                loe3+=1
            if checkTime(vahe, ('08:00', '10:00')) == True:
                loe4+=1
            if checkTime(vahe, ('10:00', '12:00')) == True:
                loe5+=1
            if checkTime(vahe, ('12:00', '14:00')) == True:
                loe6+=1
            if checkTime(vahe, ('14:00', '16:00')) == True:
                loe7+=1
            if checkTime(vahe, ('16:00', '18:00')) == True:
                loe8+=1
            if checkTime(vahe, ('18:00', '20:00')) == True:
                loe9+=1
            if checkTime(vahe, ('20:00', '22:00')) == True:
                loe10+=1                
            if checkTime(vahe, ('22:00', '24:00')) == True:
                loe11+=1    
                
    performance = [loe,loe1,loe2,loe3,loe4,loe5,loe6,loe7,loe8,loe9,loe10,loe11]
    summa = sum(performance)
    for i in range(len(performance)):
        performance[i] = performance[i]/summa*100
                  
    makePlot(performance, names[name_nr], color_nr)
    color_nr +=1
    name_nr +=1

### 3.5.2 Bike usage distribution on every weekday <a name="analysis52">

In [ ]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt

def minutesPerDay(tme):
    hours, minutes = tme.split(':')
    return (hours*60)+minutes

def checkTime(tme, tmeRange):
    return minutesPerDay(tmeRange[0]) < minutesPerDay(tme) < tmeRange[1]

def makePlot(loe,loe1,loe2,loe3,loe4,loe5,loe6,loe7,loe8,loe9,loe10,loe11, day, nr):
    objects = ('00        ','02        ','04        ','06        ','08        ','10        ','12        ','14        ',
               '16        ','18        ','20        ','22        ')
    y_pos = np.arange(len(objects))
    performance = [loe,loe1,loe2,loe3,loe4,loe5,loe6,loe7,loe8,loe9,loe10,loe11]
    color_l = ['black', 'orange','yellow','blue', 'brown','green','red']

    plt.bar(y_pos, performance, align='center', alpha=0.5, color=color_l[nr])
    plt.xticks(y_pos, objects)
    plt.ylabel('Usage')
    plt.title(day)

    plt.show()

weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
color_nr = 0

for e in weekdays:
    loe = loe1 = loe2 = loe3 = loe4 = loe5 = loe6 = loe7 = loe8 = loe9 = loe10 = loe11 =0
    for i in range(22429):
        if data_routes_july.weekday.iloc[i] == e:
            vahe = data_routes_july.unlockedattime.iloc[i].split(":")
            vahe = vahe[0]+":"+vahe[1]
            if checkTime(vahe, ('00:00', '02:00')) == True:
                loe+=1
            if checkTime(vahe, ('02:00', '04:00')) == True:
                loe1+=1    
            if checkTime(vahe, ('04:00', '06:00')) == True:
                loe2+=1
            if checkTime(vahe, ('06:00', '08:00')) == True:
                loe3+=1
            if checkTime(vahe, ('08:00', '10:00')) == True:
                loe4+=1
            if checkTime(vahe, ('10:00', '12:00')) == True:
                loe5+=1
            if checkTime(vahe, ('12:00', '14:00')) == True:
                loe6+=1
            if checkTime(vahe, ('14:00', '16:00')) == True:
                loe7+=1
            if checkTime(vahe, ('16:00', '18:00')) == True:
                loe8+=1
            if checkTime(vahe, ('18:00', '20:00')) == True:
                loe9+=1
            if checkTime(vahe, ('20:00', '22:00')) == True:
                loe10+=1                
            if checkTime(vahe, ('22:00', '24:00')) == True:
                loe11+=1                
                
    for j in range(15356, 42506):
        if data_routes_august.weekday.iloc[j] == e:
            vahe = data_routes_august.unlockedattime.iloc[j].split(":")
            vahe = vahe[0]+":"+vahe[1]
            if checkTime(vahe, ('00:00', '02:00')) == True:
                loe+=1
            if checkTime(vahe, ('02:00', '04:00')) == True:
                loe1+=1    
            if checkTime(vahe, ('04:00', '06:00')) == True:
                loe2+=1
            if checkTime(vahe, ('06:00', '08:00')) == True:
                loe3+=1
            if checkTime(vahe, ('08:00', '10:00')) == True:
                loe4+=1
            if checkTime(vahe, ('10:00', '12:00')) == True:
                loe5+=1
            if checkTime(vahe, ('12:00', '14:00')) == True:
                loe6+=1
            if checkTime(vahe, ('14:00', '16:00')) == True:
                loe7+=1
            if checkTime(vahe, ('16:00', '18:00')) == True:
                loe8+=1
            if checkTime(vahe, ('18:00', '20:00')) == True:
                loe9+=1
            if checkTime(vahe, ('20:00', '22:00')) == True:
                loe10+=1                
            if checkTime(vahe, ('22:00', '24:00')) == True:
                loe11+=1    
                
    for m in range(4342,37439):
        if data_routes_september.weekday.iloc[m] == e:
            vahe = data_routes_september.unlockedattime.iloc[m].split(":")
            vahe = vahe[0]+":"+vahe[1]
            if checkTime(vahe, ('00:00', '02:00')) == True:
                loe+=1
            if checkTime(vahe, ('02:00', '04:00')) == True:
                loe1+=1    
            if checkTime(vahe, ('04:00', '06:00')) == True:
                loe2+=1
            if checkTime(vahe, ('06:00', '08:00')) == True:
                loe3+=1
            if checkTime(vahe, ('08:00', '10:00')) == True:
                loe4+=1
            if checkTime(vahe, ('10:00', '12:00')) == True:
                loe5+=1
            if checkTime(vahe, ('12:00', '14:00')) == True:
                loe6+=1
            if checkTime(vahe, ('14:00', '16:00')) == True:
                loe7+=1
            if checkTime(vahe, ('16:00', '18:00')) == True:
                loe8+=1
            if checkTime(vahe, ('18:00', '20:00')) == True:
                loe9+=1
            if checkTime(vahe, ('20:00', '22:00')) == True:
                loe10+=1                
            if checkTime(vahe, ('22:00', '24:00')) == True:
                loe11+=1    
                  
    makePlot(loe,loe1,loe2,loe3,loe4,loe5,loe6,loe7,loe8,loe9,loe10,loe11, e, color_nr)
    color_nr +=1

### 3.6. Heatmap: Length of rides based on weekday and starting station <a name="heatmap">

In [ ]:
import seaborn as sns
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
routes_data.weekday = pd.Categorical(routes_data.weekday,categories=weekdays)
routes_data = routes_data.sort_values('weekday')
crosstab_df = pd.crosstab(routes_data.weekday, routes_data.startstationname, values=routes_data.length, aggfunc='mean').round(2)
#crosstab_df
plt.subplots(figsize=(30,15))
sns.heatmap(crosstab_df, vmin=1.2, annot=True, square=True, linewidth=0.5, fmt='.1f', 
            cbar=True, cbar_kws={'fraction':0.006}, cmap='YlGnBu')
plt.title("Average lengths of bike rides based on weekday and starting station", {'fontsize':20}, pad = 13)
plt.xlabel("")
plt.ylabel("")
plt.savefig('ride_lengths.pdf')